#body {
    background: #212529;
}

#topContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
    width: 50%;
    border-radius: 10px;
    color: white;
    background: #131516;
    animation: color-animation 10s infinite alternate;
}

#toph1 {
    color: rgb(255, 213, 0);
    font-style: italic;
}

#mainC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 62%;
    margin: auto;
}


#gameInfoFlex {
    display: flex;

}

#gameInfo {
    justify-content: center;
    text-align: center;
    padding: 0em;
    height: 26em;
    width: 20em;
    border-radius: 3%;
    color: white;
    background: #131516;
    animation: color-animation 10s infinite alternate;

}


.h1-Yellow {
    color: black;
    background-color: rgb(255, 213, 0);
    font-weight: bold;
    font-style: italic;
}

.txt {
    font-size: 1.6em;
}

#gameContainerflex {
    display: flex;

}

#gameContainer {
    display: grid;
    grid-template-rows: 30.77% 31.54% 30.77%;
    grid-template-columns: 30.77% 31.15% 30.77%;
    justify-content: center;
    align-content: center;
    padding: 0em;
    height: 26em;
    width: 26em;
    border-radius: 3%;
    background: #131516;
    animation: color-animation 10s infinite alternate;
}

@keyframes color-animation {
    0% {
        filter: drop-shadow(0px 0px 10px #FFFF00);
    }

    16.6% {
        filter: drop-shadow(0px 0px 20px #FF0000);
    }

    33.2% {
        filter: drop-shadow(0px 0px 10px white);
    }

    49.8% {
        filter: drop-shadow(0px 0px 10px #FFFF00);
    }

    66.4% {
        filter: drop-shadow(0px 0px 20px #FF0000);
    }

    83% {
        filter: drop-shadow(0px 0px 10px white);
    }

    100% {
        filter: drop-shadow(0px 0px 10px #FFFF00);
    }
}


#img11 {
    display: none;
}

#img12 {
    display: none;
}

#img21 {
    display: none;
}

#img22 {
    display: none;
}

#img31 {
    display: none;
}

#img32 {
    display: none;
}

#img41 {
    display: none;
}

#img42 {
    display: none;
}

#img51 {
    display: none;
}

#img52 {
    display: none;
}

#img61 {
    display: none;
}

#img62 {
    display: none;
}

#img71 {
    display: none;
}

#img72 {
    display: none;
}

#img81 {
    display: none;
}

#img82 {
    display: none;
}

#img91 {
    display: none;
}

#img92 {
    display: none;
}

.img {
    /* height: 6em;
    width: 6em; */
    height: 77%;
    width: 77%;
    padding: 12%;

}

#winner1 {
    display: none;
    text-align: center;

}

#winner2 {
    display: none;
    text-align: center;
}

#winner3 {
    display: none;
    text-align: center;
}

.b {
    border: 3px solid rgb(255, 255, 255);
}

.b-t {
    border-top: 0;
}

.b-l {
    border-left: 0;
}

.b-r {
    border-right: 0;
}

.b-b {
    border-bottom: 0;
}

.btnCss {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
}

#result {
    height: 4.4em;
}

#playBtn {
    color: black;
    background-color: rgb(255, 213, 0);
    padding: 3%;
    font-weight: bold;
    font-size: 1.3vw;
    border: none;
    border-radius: 2%;

}

@media (max-width: 1250px) {

    #topContainer {
        width: 45%;
    }

    #toph1 {
        font-size: 1.7em;
    }

    #mainC {
        width: 55%;
    }

    #gameContainer {
        height: 22em;
        width: 22em;
    }

    #gameInfo {
        height: 22em;
        width: 16em;
    }

    .h1-Yellow {
        font-size: 1.7em;
    }

    .txt {
        font-size: 1.3em;
    }

    #result {
        font-size: 0.8em;
    }
}

@media (max-width: 1200px) {

    #topContainer {
        margin-bottom: 4%;
        width: 45%;
    }

    #toph1 {
        font-size: x-large;
    }

    #mainC {
        flex-direction: column;
    }

    #gameContainerflex {
        justify-content: center;
    }

    #gameContainer {
        height: 20em;
        width: 20em;
    }

    #gameInfoFlex {
        justify-content: center;
    }

    #gameInfo {
        width: 20em;
        height: 14.3em;
        margin-top: 6%;
    }

    .h1-Yellow {
        font-size: large;
        margin: 0%;
    }

    #playertxt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .txt {
        font-size: medium;
    }

    #playertxt {
        font-size: medium;
    }

    #result {
        font-size: 0.7em;
    }

    #playBtn {
        font-size: x-small;
    }
}

@media (max-width: 650px) {

    #topContainer {
        margin-bottom: 4%;
        width: 70%;
    }

    #mainC {
        width: 80%;
    }

    #gameContainer {
        height: 16em;
        width: 16em;
    }

    #gameInfo {
        width: 16em;
        margin-top: 10%;

    }

    #topContainer {
        width: 50%;
    }

    #toph1 {
        font-size: large;
    }

    .b {
        border: 2px solid rgb(255, 255, 255);
    }

    .b-t {
        border-top: 0;
    }

    .b-l {
        border-left: 0;
    }

    .b-r {
        border-right: 0;
    }

    .b-b {
        border-bottom: 0;
    }
}

@media (max-width: 400px) {

    #topContainer {
        margin-bottom: 4%;
        width: 70%;
    }

    #toph1 {
        font-size: small;
    }

    #gameContainer {
        height: 13em;
        width: 13em;
    }

    #gameInfo {
        width: 13em;
    }

    #playertxt {
        flex-direction: column;
        align-items: center;
    }

    .txt {
        font-size: small;
        margin: 4%;
    }

    #result {
        font-size: 0.5em;
    }
}
